[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
databricks-cli = "*"
dbx = "*"
pyspark = "*"
pandas = "*"
matplotlib = "*"
shap = "*"
databricks-automl-runtime = "0.2.10"
mlflow = "*"
scikit-learn = "0.24.2"
setuptools = "*"
wheel = "*"
pyyaml = "*"
pytest = "*"
delta-spark = "*"
python-dotenv = "*"


[requires]
python_version = "3.9.0"